
<div>
    <!--显示主页  -->
    <div class="bg salary-bgc">
      <!-- 顶栏-文字-控制按钮 -->
      <div class="top-block">
        <div class="top-left">
          <!-- <img src="../assets/pics/favicon.jpg" alt="编程教室图标" class='favicon'> -->
          <a href="http://crossincode.com" class='c-mainpage'>Crossin的编程教室</a>
          <span class='white'>|</span>
          <span class='white'>Python互联网职位报告</span>
        </div>
        <div class="top-right pull-right">
          <a href="/" class='c-mainpage'>回到主页</a>
          <span class='white'>|</span>
          <a href="#" >
            <span class='white'>薪水报告</span>
          </a>
        </div>
      </div>
      <!-- 顶栏-文字-控制按钮  end-->
      <!-- 表显示区域 -->
      <div class="">
        <!-- 表显示 -->
        <div class="display center-block">
            <div class="box center-block" id='salary'>
        </div>
      </div>
    </div>
        {% load static %}
    <script src="{% static 'backend/js/charts/salary.js' %}"></script>

</div>
