
<!--显示主页  -->
    <div class="container-fluid salary-bgc">
      <!-- 表显示区域 -->
      <div class="row">
            <div class="display-h col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 center-block">
                 <!-- 表显示 -->
            <div class="center-block">
                <div class="box center-block" id='salary'></div>
            </div>
            </div>

            <div class="col-md-12">
                <div class="display-ins center-block">
                    <p class="h3">说明: </p>
                    <p>本图包含了Python职位信息中 <strong>不同城市</strong>|<strong>不同工作年限</strong>|<strong>不同薪水</strong> 的对应关系 </p>
                    <p class="h3">使用说明: </p>
                    <p>1. 点击滚动轴上的暂停按钮,然后点击到具体的城市查看信息</p>
                    <p>2. 点击右上角的图例按钮,显示或隐藏某些工作年限数据</p>
                </div>
            </div>

      {#            文字说明#}

    </div>
{#        {% load static %}#}
{#    <script src="{% static 'backend/js/charts/salary.js' %}"></script>#}

</div>



{# #}

<!--显示主页  -->
{#    <div class="bg salary-bgc">#}
{#      <!-- 顶栏-文字-控制按钮 -->#}
{#      <div class="top-block">#}
{#        <div class="top-left">#}
{#          <!-- <img src="../assets/pics/favicon.jpg" alt="编程教室图标" class='favicon'> -->#}
{#          <a href="http://crossincode.com" class='c-mainpage'>Crossin的编程教室</a>#}
{#          <span class='white'>|</span>#}
{#          <span class='white'>Python互联网职位报告</span>#}
{#        </div>#}
{#        <div class="top-right pull-right">#}
{#          <a href="/" class='c-mainpage'>回到主页</a>#}
{#          <span class='white'>|</span>#}
{#          <a href="#" >#}
{#            <span class='white'>薪水报告</span>#}
{#          </a>#}
{#        </div>#}
{#      </div>#}
{#      <!-- 顶栏-文字-控制按钮  end-->#}
{#      <!-- 表显示区域 -->#}
{#      <div class="">#}
{#        <!-- 表显示 -->#}
{#        <div class="display center-block">#}
{#            <div class="box center-block" id='salary'></div>#}
{#        </div>#}
{##}
      {#            文字说明#}
{#        <div class="display-ins center-block">#}
{#            <p class="h3">说明: </p>#}
{#            <p>本图包含了Python职位信息中 <strong>不同城市</strong>|<strong>不同工作年限</strong>|<strong>不同薪水</strong> 的对应关系 </p>#}
{#            <p class="h3">使用说明: </p>#}
{#            <p>1. 点击滚动轴上的暂停按钮,然后点击到具体的城市查看信息</p>#}
{#            <p>2. 点击右上角的图例按钮,显示或隐藏某些工作年限数据</p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{##}
