
<div>
    <!--显示主页  -->
    <div class="bg salaryline-bgc">
      <!-- 顶栏-文字-控制按钮 -->
      <div class="top-block">
        <div class="top-left">
          <!-- <img src="../assets/pics/favicon.jpg" alt="编程教室图标" class='favicon'> -->
          <a href="http://crossincode.com" class='c-mainpage'>Crossin的编程教室</a>
          <span class='white'>|</span>
          <span class='white'>Python互联网职位报告</span>
        </div>
        <div class="top-right pull-right">
          <a href="/" class='c-mainpage'>回到主页</a>
          <span class='white'>|</span>
          <a href="#" >
            <span class='white'>薪水报告</span>
          </a>
        </div>
      </div>
      <!-- 顶栏-文字-控制按钮  end-->
      <!-- 表显示区域 -->
      <div class="">
        <!-- 表显示 -->
        <div class="display center-block">
            <div class="box center-block" id='salary-line'></div>
        </div>

      {#            文字说明#}
        <div class="display-ins center-block">
            <p class="h3">说明: </p>
            <p>本图包含了Python职位信息中 <strong>不同城市</strong>|<strong>不同薪水</strong> 的对应关系 </p>
            <p class="h3">简单分析: </p>
            <p>1. 使用 <strong>Python</strong> 较多的城市为 北京/上海/成都/西安/南京</p>
            <p>2. 北上一线城市薪水以 15K-20k 最多,在 25k 以上仍然有强劲的需求, 在这两地学习 Python 的同学继续加油</p>
            <p>3. 准一线城市中,成都/南京/西安 对 Python 需求强烈, 不过薪资相比北上还有一定距离,考虑到物价/房价水平,也算比较合理</p>
        </div>
    </div>
{#        {% load static %}#}
{#    <script src="{% static 'backend/js/charts/salary-line.js' %}"></script>#}

</div>
</div>