

/* inedx.html */
.lab-navbar{
    opacity: 0.5;
}
.lab-title{
    margin-top: 60px;
    color: white;
}
.lab-jumbotron{

    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    min-height: 400px;
}

.lab-img{
    width: 260px;
    height: 180px;
    margin: 0 auto;
    /*text-align: center;*/
}
.lab-img-width{
    width: 100%;
}

.lab-block{

    padding: 10px 10px ;
    margin-bottom: 10px;
}
.lab-inner-block{
    margin: 0 auto;
    width: 264px;
    height:320px;
    border: 1px solid #B8B8B8;
    display: block;
    /*transition: margin-top 300ms;*/

}
.lab-inner-block:hover{
    text-decoration-line: none;
    /*margin-top: -5px;*/
    box-shadow: 5px 5px 10px #999999;
}

.lab-row{
    margin-left: 5%;
    margin-right: 5%;
}
.lab-footer{
    margin: 20px auto 0;
}
.lab-footer-row{
    padding: 20px 20px;
    background-color: #2c3e50;
    color: #fff;
    min-height: 200px;
}
.lab-ft-img{
    max-width: 200px;
}

/*ppx.html*/
.ppx-main-block{
    margin: 70px auto 0;
    min-height: 500px;
    background-color: #f8f8f8;
    padding: 20px 20px;
    font-size: 16px;
}
/*.ppx-main-block img{*/
    /*width: 100%;*/
/*}*/

.ppx-main-block embed{
    margin:10px auto;
    /*width: 100%;*/
}

/*scanqrcode.html*/
.scan-img{
    width: 60%;
}